html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    overflow: auto;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(242, 242, 242);
}

.navbar{
    height: 35px;
    width: auto;
    display: flex;
    flex-basis: auto;
    float: right;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding-right: 30px;
    margin-right: 0px;
}

.accountgoogle{
    padding-left: 15px;
}

.content{
    margin-top: 89px;
}

.search_bar{
    height: 44px;
    width: 482px;
    margin: 10px auto;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    display: flex;
}

.search_bar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search_buttons{
    text-align: center;    
    margin: 10px auto;
    width: 700px;
}

#recherche_google{
    color: #5F6368;
    background-color: #f2f2f2;;
    height: 36px;
    width: auto;
    border: 0px;
    border-radius: 4px;
    padding-left:24px;
    padding-right:24px;
    font-size: 14px;
    margin: 11px 4px;
}
#recherche_google:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#recherche_chance{
    color: #5F6368;
    background-color: #f2f2f2;;
    height: 36px;
    width: auto;
    border: 0px;
    border-radius: 4px;
    padding-left:24px;
    padding-right:24px;
    font-size: 14px;
    margin: 11px 4px;
}

#recherche_chance:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#valeur_recherche{
    height: 40px;
    width: 500px;
    border: 0px;
    padding: 0px;
    border: none;
    color: rgba(0,0,0,.87);
}

.logo{
    text-align: center;
    margin: 10px auto;
    height: 233px;
}

#logoimg{
    padding-top: 109px;
}

.search_bar_logo{
    background-image:url(https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_1280.png);
    background-size:20px;
    height: 20px;
    width: 20px;
    opacity: 0.6;
    margin: 12px 14px;
    color: rgb(0, 0, 0);
    display: block;
}

.search_bar_vocal{
    background-image: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
    height: 24px;
    width: 24px;
    background-size: 24px;
    vertical-align: middle;
    margin: auto;
    margin-right: 16px;
}

#application_google{
    background-image:url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position-x:-132px;
    background-position-y:-38px;
    background-size:528px 68px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    box-sizing:border-box;
    color:rgb(0, 0, 0);
    cursor:pointer;
    display:inline-block;
    font-family:arial, sans-serif;
    font-size:13px;
    height:30px;
    line-height:normal;
    opacity:0.55;
    outline-color:rgb(0, 0, 0);
    outline-style:none;
    outline-width:0px;
    text-align:left;
    text-decoration-color:rgb(0, 0, 0);
    text-decoration-line:none;
    text-decoration-style:solid;
    user-select:none;
    vertical-align:middle;
    white-space:nowrap;
    width:30px;
}

#account{
    background-image:url(https://lh3.googleusercontent.com/-b4UpvitvGn0/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcgnOzXsM5DiSAYXCVcGLf5MVkfnw.CMID/s32-c/photo.jpg);
    background-size:32px 32px;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    color:rgb(0, 0, 0);
    cursor:pointer;
    display:inline-block;
    font-family:arial, sans-serif;
    font-size:13px;
    height:32px;
    line-height:normal;
    margin-bottom:-1px;
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
    overflow-x:hidden;
    overflow-y:hidden;
    position:relative;
    text-align:left;
    user-select:none;
    white-space:nowrap;
    width:32px;
    z-index:0;
}

.country, .navbar_footer{
    border-top-color: rgb(232, 232, 232);
    border-top-width: 1px;
    border-top-style: solid;
    height: 41px;
}

.country{
    color: rgba(0, 0, 0, 0.54);
    font-family: arial, sans-serif;
    font-size: 15px;
    padding-left: 27px;
}

.navbar_footer{
    color:rgb(95, 99, 104);
    cursor:pointer;
    display:flex;
    font-family:arial, sans-serif;
    font-size:13px;
    justify-content: space-between;
    align-items: center;
}

.navbar_footer a{
    text-decoration-color:rgb(95, 99, 104);
    text-decoration-line:none;
    text-decoration-style:solid;
    color: #5f6368;
    padding-left: 27px;
}

.navbar_footer a:hover{
    text-decoration-line: underline;
}

.nfr{
    margin-right: 27px;
}

#pictures{
    padding-left: 15px;
    padding-right: 15px;
}

#pictures, #gmail{
    text-decoration-color:rgb(95, 99, 104);
    text-decoration-line:none;
    text-decoration-style:solid;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}

#gmail:hover{
    opacity: .85;
    text-decoration: underline;
}

#pictures:hover{
    opacity: .85;
    text-decoration: underline;
}